@font-face {
  font-family: 'AvenirBlack';
  src: url('AvenirBlack.eot'); /* IE9 Compat Modes */
  src: url('AvenirBlack.woff') format('woff'); /* Pretty Modern Browsers */
}

body{
  margin: 0;
  padding: 0;
  font-family: 'AvenirBlack';
}
textarea{
  font-family: 'AvenirBlack';
  box-shadow: 0 4px 8px 0 #b4acfa, 0 6px 20px 0 #b4acfa;
  border-style: none;
  border-radius: 5px;
  width: 40%;
  height: 300px;
  resize: none;
}
.logoimage{
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.text{
  font-family: 'AvenirBlack';
  color: #fff;
  text-align: center;
  padding-top: 1.5vw;
}

.image{
  width: 100%;
  height: 70%;
  position: absolute;
  margin-top: -10px;
  z-index: -1;
}

.phoneimage{
  margin-top: 30px;
  padding-right: 20px;
  width: 80%;
}

.grid-container {
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 20% 50% 5% 20%;
  padding: 10px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
}
.black{
  color: black !important;
}
.textbox{
  margin-top: 320px;
  text-align: center;
}
.img{
  box-shadow: 0 4px 8px 0 #b4acfa, 0 6px 20px 0 #b4acfa;
  width: 50%;
  height: 360px;
  border-radius: 5px;
}
.next{
  text-align: center;
}
